<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lukaslechner.coroutineusecasesonandroid">

    <application
        android:name=".CoroutineUsecasesOnAndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".base.UseCaseActivity" />
        <activity android:name=".usecases.coroutines.usecase1.PerformSingleNetworkRequestActivity" />
        <activity android:name=".usecases.coroutines.usecase2.Perform2SequentialNetworkRequestsActivity" />
        <activity android:name=".usecases.coroutines.usecase2.usingcallbacks.SequentialNetworkRequestsCallbacksActivity" />
        <activity android:name=".usecases.coroutines.usecase3.PerformNetworkRequestsConcurrentlyActivity" />
        <activity android:name=".usecases.coroutines.usecase4.VariableAmountOfNetworkRequestsActivity" />
        <activity android:name=".usecases.coroutines.usecase5.NetworkRequestWithTimeoutActivity" />
        <activity android:name=".usecases.coroutines.usecase6.RetryNetworkRequestActivity" />
        <activity android:name=".usecases.coroutines.usecase7.RoomAndCoroutinesActivity" />
        <activity android:name=".usecases.coroutines.usecase8.DebuggingCoroutinesActivity" />

        <activity
            android:name=".usecases.coroutines.usecase9.CalculationInBackgroundActivity"
            android:exported="true" />

        <activity
            android:name=".usecases.coroutines.usecase10.CooperativeCancellationActivity"
            android:exported="true" />

        <activity
            android:name=".usecases.coroutines.usecase11.CalculationInMultipleBackgroundThreadsActivity"
            android:exported="true" />

        <activity
            android:name=".usecases.coroutines.usecase12.ExceptionHandlingActivity"
            android:exported="true" />

        <activity android:name=".usecases.coroutines.usecase13.ContinueCoroutineWhenUserLeavesScreenActivity" />
        <activity android:name=".usecases.coroutines.usecase14.WorkManagerActivity" />

        <activity android:name=".usecases.channels.usecase1.ChannelUseCase1Activity" />

        <activity android:name=".usecases.flow.usecase1.FlowUseCase1Activity" />

    </application>

</manifest>